__pycache__/
*.py[cod]
*$py.class
.venv*/
androguard.db
androguard.db-*

build/
dist/
exe_release/
release/
old_version/
.repo_sync/

OpenADB-data/
*.log

device-lab-report*.json
device-lab-report*.xml
device-lab-output/
release-performance*.json
