<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.communism420.openadb.acbridge"
    android:versionCode="31011"
    android:versionName="3.1.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="30" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="false"
        android:banner="@drawable/acbridge_banner"
        android:icon="@drawable/acbridge_icon"
        android:label="OpenADB Bridge"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <meta-data
            android:name="moe.shizuku.client.V3_SUPPORT"
            android:value="true" />
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="io.github.communism420.openadb.acbridge.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
        <provider
            android:name="com.communism420.acbridge.HostStatusProvider"
            android:authorities="io.github.communism420.openadb.acbridge.openadb.status"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="false"
            android:permission="android.permission.DUMP" />
        <activity
            android:name="com.communism420.acbridge.MainActivity"
            android:banner="@drawable/acbridge_banner"
            android:icon="@drawable/acbridge_icon"
            android:label="OpenADB Bridge"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.communism420.acbridge.CommandActivity"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <activity
            android:name="com.communism420.acbridge.ShizukuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:taskAffinity="io.github.communism420.openadb.acbridge.permission" />
        <activity
            android:name="com.communism420.acbridge.PrivilegeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:permission="android.permission.DUMP"
            android:taskAffinity="io.github.communism420.openadb.acbridge.permission" />
        <activity
            android:name="com.communism420.acbridge.PermissionHostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="android.permission.DUMP"
            android:taskAffinity="io.github.communism420.openadb.acbridge.permission" />
        <receiver
            android:name="com.communism420.acbridge.PermissionHostReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP" />
        <service
            android:name="com.communism420.acbridge.P2PTransferService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.DUMP"
            android:stopWithTask="false" />
    </application>
</manifest>
